@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.abc {
    background-color: #ff8348;
    padding: 2px;
}

.curosel {
    margin: 10px;
}

.head {
    font-size: 25px;
    margin: 5px;
    margin-right: 20px;
    color: #ffffff;
    font-weight: bold;
}

.button {
    margin: 10px;
    color: #ff8348;
    border-radius: 10px;
    background-color: white;
    border-width: 0px;
    height: 45px;
}

.para {
    margin: 10px;
    color: #ffffff;
}

.head2 {
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
    height: 30px;
}

.images {
    margin: 2px;
    width: 33%;
}